<article>
  <a href="/dashboard"> &larr; Back to dashboard</a>
  <h2>
    Edit Post
  </h2>
  <form class="edit-post-form">
    <div>
      <input id="post-title" name="post-title" type="text" value="{{post.title}}" />
      <textarea id="post-body-input" name="post-body">{{post.post_body}}</textarea>
    </div>
    <button type="submit">Save post</button>
    <button type="button" class="delete-post-btn">Delete post</button>
    <div>
      {{post.vote_count}} {{format_plural "point" post.vote_count}}
      |
      <a href="/post/{{post.id}}">{{post.comments.length}} {{format_plural "comment" post.comments.length}}</a>
    </div>
  </form>
</article>

<form class="comment-form">
  <div>
    <textarea class="comment-body" name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit">add comment</button>
  </div>
</form>

{{> comments post.comments}}

<script src="/js/edit-post.js"></script>
<script src="/js/delete-post.js"></script>
<script src="/js/comment.js"></script>